* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #FF9A4B;
}

main {
  width: 960px;
  margin: 50px auto;
}

.item-container {
  display: flex;
}

.item {
  width: 300px;
  padding: 10px;
  background-color: #EEEEEE;
  position: relative;
  margin-right: 30px;
}

.item:last-child {
  margin-right: 0;
}

span {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  background-color: #FF9A4B;
}



.image {
  background-size: cover;
  background-position: bottom;
  height: 150px;
}

h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}

footer {
  height: 50px;
  background-color: #AAAAAA;
}

.step1 {
  background-image: url("img/flow01.png");
}

.step2 {
  background-image: url("img/flow02.png");
}

.step3 {
  background-image: url("img/flow03.png");
}